---
layout: default
---




<div class="main-outer">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-md-8">
                    <h1>Blog</h1>
                    <p class="lead">Tudo sobre a minha vida profissional, objetivos de vida, dicas e sugestões que irei dar, fica atento(a).</p>
                </div>
                <div class="col-md-12">
                    {% for post in site.posts %}
                        {% if post.categories contains 'blog' %}

                            <div class="page-title-image"><img src="{{ post.image | prepend: site.baseurl }}"></div>
                        {% break %}
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="articles-list">
        {% for post in site.posts %}
            {% if post.categories contains 'blog' %}

            {% assign m = post.date | date: "%-m" %}
            {% capture month_name_pt %}
              {% case m %}
                {% when '1' %}Janeiro
                {% when '2' %}Fevereiro
                {% when '3' %}Março
                {% when '4' %}Abril
                {% when '5' %}Maio
                {% when '6' %}Junho
                {% when '7' %}Julho
                {% when '8' %}Agosto
                {% when '9' %}Setembro
                {% when '10' %}Outubro
                {% when '11' %}Novembro
                {% when '12' %}Dezembro
              {% endcase %}
            {% endcapture %}

            <article>
                <div class="row">
                    <div class="col-md-12"><a class="post smooth-leave" href="{{ post.url }}">
                            <div class="content">
                                <h2>{{ post.title}}</h2>
                                <ul>
                                    <li class="date">{{ post.date | date: "%-d" }} {{ month_name_pt }} de {{ post.date | date: "%Y" }}</li>
                                </ul>
                            </div>
                            <div class="arrow"></div></a></div>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function setBodyId() {
        document.body.id = 'blog-page';
    }
    
    window.onload = setBodyId;
    window.onresize = setBodyId;
</script>