---
layout: default
---

<div class="main-outer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="works-grid">
                    <div class="gutter"></div>
                    {% for post in site.posts %}
                        {% if post.category contains 'portfolio' %}
                        <a class="works-item smooth-leave typography illustration" href="{{ post.url }}">
                        <div class="picture">
                            <div class="content">
                                <div class="text">
                                    <h2>{{ post.title}}</h2>
                                    <ul>
                                        <li>{{ post.show_category }}</li>
                                    </ul>
                                </div>
                            </div><img src="{{ post.image | prepend: site.baseurl }}">
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>