<header id="sidebar">
	<div class="sidebar-inner"><a class="logo smooth-leave" href="/"><img src="{{ "/assets/img/avatar_junior_oliveira.png" | prepend: site.baseurl }}" alt="Júnior Oliveira" style=" width: 100%;"></a>
		<p class="intro">Paulo Júnio Silva Oliveira<br>24 Anos<br>Porto</p>
		<nav>
			<ul>
				<li><a class="smooth-leave" href="/">Work</a></li>
				<!-- <li><a class="smooth-leave" href="/blog">Blog</a></li> -->
				<li><a class="smooth-leave" href="/about">Sobre</a></li>
				<li><a class="smooth-leave" href="/contact">Contactos</a></li>
			</ul>
		</nav>
		<p class="copyright">Júnior Oliveira &copy; 2022</p>
		{% include share.html %}<br>
	</div>
</header>
