<header id="sidebar">
	<div class="sidebar-inner"><a class="logo smooth-leave" href="/"><img src="{{ "/assets/img/drawasketch.svg" | prepend: site.baseurl }}" alt="Draw a Sketch Logo" style=" width: 100%;"></a>
		<p class="intro">Nome:<br>Paulo Júnio Silva Oliveira<br>Data de Nascimento:<br>14 de Novembro de 1994<br>Nacionalidade:<br>Portuguesa<br>Língua Materna:<br>Português</p>
		<nav>
			<ul>
				<li><a class="smooth-leave" href="/">Work</a></li>
				<!-- <li><a class="smooth-leave" href="/blog">Blog</a></li> -->
				<li><a class="smooth-leave" href="/about">Sobre</a></li>
				<li><a class="smooth-leave" href="/contact">Contactos</a></li>
			</ul>
		</nav>
		<p class="copyright">Júnior Oliveira &copy; 2019</p>
		{% include share.html %}<br>
	</div>
</header>