<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/png" href="{{ "/assets/img/favicon.svg" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/fontello.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/magnific-popup.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/animsition.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <meta name="description" content="Draw a Sketch página pessoal de freelancing/blog">
    <meta name="keywords" content="Design, Fotografia, Vídeo, blog, trabalho, tecnologia, adobe, illustrator, photoshop, final cut pro x">
    <meta name="author" content="Júnior Oliveira">
</head>