<div class="share-style">
    <ul>
        <li><a class="fa fa-facebook" href="https://www.facebook.com/paulo.junior.vc" target="_blank"></a></li>
        <li><a class="fa fa-instagram" href="https://www.instagram.com/paulo.junior.vc/" target="_blank"></a></li>
        <li><a class="fa fa-youtube" href=" https://www.youtube.com/c/JuniorOliveiraQuad" target="_blank"></a></li>
        <li><a class="fa fa-linkedin" href=" https://www.linkedin.com/in/junior-silva-oliveira" target="_blank"></a></li>
    </ul>
</div>
